:root{
   
  --news-bg-color: #1f1f1f;
  
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* rgb(31 31 31); */

body{
    font-family: Arial, Helvetica, sans-serif;
}

header li{
    padding: 0rem 0.3rem;
}

.jumbotron-returnal{
    background-image: url('./img/jumbo-bg.png');
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1.5rem;
   
}

.jumbotron-takes-two{
background-image: url('./img/it-takes-two-hero-banner-desktop.jpg');
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1.5rem;
}

.jumbotron-returnal ,jumbotron-takes-two *{
    padding: 3rem 0rem;
    
}

img.ar-active-img:hover, img.ar-active-img:active, img.ar-active-img:focus{
    border: 2px solid blue;
    padding: 0.5px;
}

div.ar-active-thumb-img:hover, img.ar-active-thumb-img:active, img.ar-active-thumb-img:focus{
    border-bottom: 2px solid blue;
}

footer ul{
    list-style-type: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

footer li{
    padding: 0.2rem 0rem;
}

.language-globe{
    height: 20px;
    width: 20px;
    margin-right: 0.4rem;
}



